.qs-ans{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
.qs-one, .qs-two{
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(244, 165, 96, 0.664);
}

@media only screen and (max-width: 600px) {
.qs-ans{
    flex-direction: column;
}
}